.LanguageSelector-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.LanguageSelector-input {
    width: 100%;
    height: 20px;
    border-radius: 3px;
}