.App {
    display: block;
    width: 95%;
    height: 80%;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fffd38;
    border-radius: 5px;
    box-shadow:0 0 5px 5px rgba(0,0,0,0.1);
}
